* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_div {
  width: calc(100vw - 40vw);
  height: calc(100vh - 30vh);
  position: relative;
  border: 1px solid #000;
   box-shadow:
   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
   0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
   0 12.5px 10px rgba(0, 0, 0, 0.06),
   0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
   0 41.8px 33.4px rgba(0, 0, 0, 0.086),
   0 100px 80px rgba(0, 0, 0, 0.012);
}
.pie_chart {
  margin-top: 50px;
  background: radial-gradient(circle closest-side, transparent 100%, #fff 0),
    conic-gradient(
      from 180deg,
      #ee5253 0,
      #ee5253 35%,
      #ff9f43 0,
      #ff9f43 60%,
      #f368e0 0,
      #f368e0 75%,
      #0abde3 0,
      #0abde3 89%,
      #10ac84 0,
      #10ac84 100%
    );
  min-width: 100px;
  min-height: 200px;
}
.center_div h1 {
  padding: 20px 0 20px 20px;
}
.center_div p {
  position: relative;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.1rem;
  text-align: right;
}
.center_div span::after {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  font-weight: 700;
  background: currentColor;
  margin: 0 0.5rem;
}
.center_div h3 {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: grey;
  font-style: italic;
}
